<!DOCTYPE html>
<html>
<head>
  <title>Ask a Question</title>
</head>
<body>
  <h1>Stupid Coaching</h1>
  <form action="answer" method="get" data-turbo="false">
    <input type="text" name="question">
    <input type="submit" value="Ask!">
  </form>
</body>
</html>
